<h2>Update Employee</h2>
<div [hidden]="submitted" style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name" class="label">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="empl.name" name="name">
    </div>
 
    <div class="form-group">
      <label for="age">Company</label>
      <input type="text" class="form-control" id="age" required [(ngModel)]="empl.company" name="company">
    </div>

    <div class="form-group">
      <label for="age">Salary</label>
      <input type="text" class="form-control" id="age" required [(ngModel)]="empl.salary" name="salary">
    </div>
 
    
      <button type="submit" class="btn btn-primary" >Submit</button> &nbsp; &nbsp;
       <button type="cancel" class="btn btn-secondary">Cancel</button>

  </form>
</div>
 <!--
<div [hidden]="!submit">
  <h3>You submitted successfully!</h3>
  
  <button class="btn-primary" (click)="createNewEmployee()">Add</button>
</div>

 -->
