
<div style="padding: 20px;">
  <h1 style="color: blue">{{title}}</h1>

 
  <nav class="nav nav-tabs">
      <li class="nav-item">
          <a class="nav-link active" href="create">Add</a>
        </li>

      <li class="nav-item">
            <a class="nav-link active" href="search">Search</a>
          </li>

          <li class="nav-item">
              <a class="nav-link active" href="findAll">FindAllUsers</a>
            </li>
          <li class="nav-item">
              <a class="nav-link active" href="searchYourText">SearchYourText</a>
           </li>

         
          
            

        <!--

 <a routerLink="create" class="btn btn-primary active" role="tab" routerLinkActive="active" color="green">Add</a>&nbsp;
    <a routerLink="search" class="btn btn-primary active" role="tab" routerLinkActive="active">Search</a>&nbsp;
    <a routerLink="update" class="btn btn-primary active" role="button" routerLinkActive="active">Update</a>&nbsp;
    <a routerLink="delete" class="btn btn-primary active" role="button" routerLinkActive="active">Delete</a>

        -->
  
   
  </nav>
  <router-outlet></router-outlet>
</div>

